html    {
    scroll-padding: 10rem;
    scroll-behavior: smooth;
}

body  {
    font-family: 'DM Sans', sans-serif;
    line-height: 1.7;
}

legend  {
    margin-inline: 1rem;
    padding-inline: 10px;
    font-weight: bold;
    color: #7066B3
}

fieldset    {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0;
}

.Contato    {
    display: flex;
    justify-content: center;
}

form    {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-direction: column;
}

textarea    {
    width: max-content;
}

button {
    border: none;
    outline: none;
    background: none;
}

section {
    padding-inline: 7rem;
    padding-block: 5rem;
    text-align: justify;
}

header  {
    background-color: #ffe2bd;
    position: sticky;
    top: 0;
}

header div:first-child nav ul li a:hover  {
    color: #fff;
    transition-duration: 300ms;
}

header h1 {
    font-size: 15px;
    color: #000000;
}

header figure   {
    display: flex;
    align-items: center;
}

header figure h1    {
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    font-weight: regular;
    transition: color 0.2s ease;
}

a   {
    text-decoration: none;
    color: #000000;
}

section a   {
    color: #68b7fc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

p   {
    font-size: 16px;
    margin-bottom: 3rem;
}

h1  {
    font-size: 40px;
    margin-bottom: 10px;
}

h2  {
    margin-block: 10px;
}

li  {
    list-style: none;
}

footer {
    background-color: #ffe2bd;
    padding-block: 3rem;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

footer nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

footer nav ul li    {
    padding-inline: 10px;
    border-right: solid 1px black;
}

footer nav ul li:last-child {
    border: none;
}

footer nav ul li a {
    display: flex;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: #ffffff;
}