.linha  {
  background-color: #fff;
  height: auto;
  width: 1px;
  margin-inline: 5rem;
}

#btn-mobile {
    display: none;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.pages nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.pages nav ul li {
    padding-inline: 1rem;
}

.low-header nav ul li a:hover  {
    color: #fff;
    padding-block: 14.5px;
    background-color: #beb1a3;
    transition-duration: 300ms;
}

.low-header nav ul li a{
    padding-inline: 20px;
    transition-duration: 300ms;
}

.low-header {
    background-color: var(--dark-brown);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2rem;
    height: 50px;
}

.low-header nav ul {
    list-style: none;
    display: flex;
}

.button {
    color: #fff;
    background-color: #7066B3;
    padding-block: 0.5rem;
    padding-inline: 6rem;
    border: #7066B3 solid 2px;
    border-radius: 5rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.button:hover   {
    color: #7066B3;
    background-color: #fff;
    transition: 200ms ease-in-out;
}

.button2 {
    color: #7066B3;
    background-color: #ffffff;
    padding-block: 0.5rem;
    padding-inline: 6rem;
    border: #ffffff solid 2px;
    border-radius: 5rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.button2:hover   {
    color: #ffffff;
    background-color: #7066B3;
    transition: 200ms ease-in-out;
}

.button3 {
    color: #ffffff;
    background-color: #ff0000;
    padding-block: 0.5rem;
    padding-inline: 6rem;
    border: #ff0000 solid 2px;
    border-radius: 5rem;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.button3:hover   {
    color: #ff0000;
    background-color: #ffffff;
    transition: 200ms ease-in-out;
}

.first-section  {
    background-color: #7066B3;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.first-section div:first-child  {
    display: flex;
    flex-direction: row;
    width: 500px;
    font-size: 2rem;
    align-items: center;
}

.first-section div:first-child figure img  {
    max-width: 100%;
    width: 150px;
    flex-direction: row;
}


.first-section div  {
    width: min-content;
    flex: 1;
}

.first-section__content {
    display: flex;
}

.first-section__content div:first-child {
    margin-right: 50px;
}

.first-section__content img{
    max-width: 40rem;
}

.first-section__content2    {
    padding-block: 0;
}

.first-section__content2 p    {
    margin: 0;
}

/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    */