.linha  {
  background-color: #fff;
  height: auto;
  width: 1px;
  margin-inline: 5rem;
}

.pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-inline: 2rem;
    padding-block: 1rem;
}

.pages nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.pages nav ul li {
    padding-inline: 1rem;
}

.low-header nav ul li a:hover  {
    color: #fff;
    padding-block: 14.5px;
    background-color: #beb1a3;
    transition-duration: 300ms;
}

.low-header nav ul li a{
    padding-inline: 20px;
    transition-duration: 300ms;
}

.low-header {
    background-color: var(--dark-brown);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-inline: 2rem;
    height: 50px;
}

.low-header nav ul {
    list-style: none;
    display: flex;
}

.first-section  {
    background-color: #7066B3;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.first-section div:first-child  {
    display: flex;
    flex-direction: row;
    width: 500px;
    font-size: 2rem;
    align-items: center;
}

.first-section div:first-child figure img  {
    max-width: 100%;
    width: 150px;
    flex-direction: row;
}

.first-section div:last-child   {
    width: 500px;
}

.first-section div  {
    width: min-content;
    flex: 1;
}

/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    */