@media (max-width: 1172px) and (min-width: 768px) {
  .linha  {
    display: none;
    height: 0px;
    width: 0px;
    margin-inline: 0rem;
  }
  
  .pages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding-inline: 2rem;
    padding-block: 1rem;
  }
  
  .pages nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .pages nav ul li {
    padding-inline: 1rem;
  }

  .button {
    color: #fff;
    background-color: #7066B3;
    padding-block: 0.5rem;
    padding-inline: 6rem;
    border: #7066B3 solid 2px;
    border-radius: 5rem;
    transition: 200ms ease-in-out;
  }

  .low-header {
    display: none;
  }
  
  .button:hover {
    color: #7066B3;
    background-color: #fff;
    transition: 200ms ease-in-out;
  }
  
  .button2 {
    color: #7066B3;
    background-color: #ffffff;
    padding-block: 0.5rem;
    padding-inline: 6rem;
    border: #ffffff solid 2px;
    border-radius: 5rem;
    transition: 200ms ease-in-out;
  }
  
  .button2:hover {
    color: #ffffff;
    background-color: #7066B3;
    transition: 200ms ease-in-out;
  }
  
  .first-section {
    background-color: #7066B3;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .first-section div:first-child {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 500px;
    font-size: 2rem;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .first-section div:first-child figure img {
    max-width: 100%;
    width: 150px;
    flex-direction: column;
  }
  
  .first-section div:last-child {
    width: 100%;
  }
  
  .first-section div {
    width: 100%;
    flex: 1;
  }
  
  .first-section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .first-section__content img {
    width: 100%;
    max-width: 50rem;
  }
  
  .FS-contentBox {
    display: flex;
    flex-direction: column;
  }

  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    */
}

