@media(max-width: 918px) {
    section {
        padding-inline: 2rem;
        display: flex;
        flex-direction: column;
    }

    strong  {
        font-size: 1.4rem;
    }

    h1  {
        font-size: 1.5rem;
    }

    .Contato  {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
    form    {
        display: flex;
        width: auto;
        justify-content: center;
        flex-direction: column;
    }

    input   {
        width: 18rem;
    }

    fieldset    {
        width: auto;
        padding: 5px;
    }


    .button {
        color: #fff;
        background-color: #7066B3;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        border: #7066B3 solid 2px;
        border-radius: 5rem;
        transition: 200ms ease-in-out;
        cursor: pointer;
    }
    .button2 {
        color: #7066B3;
        background-color: #ffffff;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        border: #ffffff solid 2px;
        border-radius: 5rem;
        transition: 200ms ease-in-out;
        cursor: pointer;
    }
    .button3 {
        color: #ffffff;
        background-color: #ff0000;
        padding-block: 0.5rem;
        padding-inline: 2rem;
        border: #ff0000 solid 2px;
        border-radius: 5rem;
        transition: 200ms ease-in-out;
        cursor: pointer;
    }
}